.login {
    height: 100vh;
    align-items: center;
}

body{
    margin:0 0;
    padding: 0 0 ;
    background-image: url(https://images.steamusercontent.com/ugc/1170321140105641126/47F1E70BD90DB25A97F3B761B07764F7F947287E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fundopreto{
    background-color: black !important;
}